/*------ Global Settings------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* CSS styles for the body element */
body {
    background: url(../images/main.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Comic Sans MS, sans-serif;
}

/* Title styles */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    color: #1B366A;
}

.app_name {
    font-size: 80px;
    font-weight: bold;
}

.app__slogan {
    font-size: 25px;
    font-style: italic;
}

/* Hidden class for hiding elements */
.hidden {
    display: none;
}

/* Button styles */
button {
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #e8e818;
    color: #1B366A;
    font-weight: bold;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 70%;
}

/* Main menu styles */
.mainpage_menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer styles */
.main_footer {
    color: #1B366A;
    text-align: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Social links in the footer */
.main_footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main_footer ul li {
    display: inline-block;
    margin-right: 10px;
}

.main_footer ul li:last-child {
    margin-right: 0;
}

.main_footer a {
    color: #1B366A;
    text-decoration: none;
    font-size: 24px;
}

/* Social media icons styles */
.main_footer i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.main_footer li:hover {
    transform: scale(1.5);
}

/* --- << Alphabets page >> --- */

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1B366A;
    padding: 10px;
    width: 100%;
}

.card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    margin-bottom: 50px;
}

.card h2 {
    font-size: 80px;
    color: #1B366A;
    font-weight: bold;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: top;


}

.card p {
    font-size: 30px;
    margin-top: 10px;
    color: #1B366A;
    font-weight: bold;
}

/* CSS styles for the front and back side of the card */
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* Set the background color for the card sides */
    border: 1px solid #ccc;
    /* Add a border around the card sides */
    border-radius: 10px;
    /* Add rounded corners to the card */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow to the card */
    transition: transform 0.6s;
    /* Add a smooth transition effect when flipping the card */
}

/* CSS styles for the back side of the card */
.card-back {
    transform: rotateY(180deg);
    /* Initially hide the back side of the card by rotating it */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CSS styles for the "Next" button */
#nextButton {
    margin-top: 0px;
    display: inline-block;
    /* Initially hide the "Next" button */
    order: 3;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    order: 2;
}

#nextButton:hover {
    background-color: #e8e818;
    /* Change the background color on hover */
    color: #1B366A;
    /* Change the text color on hover */
}

/* CSS styles for the card when hovered to flip to the back side */
.card:hover .card-front {
    transform: rotateY(180deg);
}

/* CSS styles for the card when hovered to flip back to the front side */
.card:hover .card-back {
    transform: rotateY(0deg);
}

.return-button {
    color: #1B366A;
    text-decoration: none;
    font-size: 25px;
    margin-left: 30px;
}

.return-button i {
    margin-right: 5px;
}

.return-button i:hover {
    transform: scale(1.5);
}

/* --- << Game page >> --- */

.game_container {
    width: 90%;
    max-width: 37.5em;
    background-color: rgba(245, 241, 243, 0.4);
    padding: 2em 0.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.8em;
}

/* Styling for the heading */
.game_title {
    text-align: center;
    width: 60%;
    margin: 0 auto 2em auto;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1.8em;
    color: #1B366A;
}

/* Styling for the container that holds draggable alphabet images and drop points */
.draggable-objects,
.drop-points {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    gap: 15px;
}

/* Styling for each draggable alphabet images */
.draggable-image {
    cursor: move;
}

/* Styling for the image*/
img {
    width: 8em;
    filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25));
}

/* Styling for words */
.words {
    width: 10em;
    height: 9em;
    display: grid;
    place-items: center;
    border: 0.25em dashed #1B366A;
    border-radius: 0.8em;
    font-weight: bold;
}

.dropped {
    padding: 0;
    background-color: #93f028;
}

.play-again-container {
    display: flex;
    justify-content: space-evenly;
}

.hide {
    display: none;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .app_name {
        font-size: 40px;
    }

    .app__slogan {
        font-size: 20px;
    }

    /* ... (responsive styles for devices with max width 600px) */
}

@media screen and (max-width: 480px) {

    /* Media for alphabets page */
    .card {
        width: 260px;
        height: 360px;
    }

    .card-front,
    .card-back {
        width: 90%;
        height: 90%;
    }

    /* Media for game page */
    .game_title {
        width: 80%;
        font-size: 0.8em;
    }

    .words {
        width: 5em;
        height: 5em;
    }

    img {
        width: 4em;
    }
}