:root {
    --ff: 'Comic Sans Ms', sans-serif;
    --primary-clr: #1B366A;
    --secondary-clr: #e8e818;
    --secondary-clr-light: #fff;
}

/* ----- << Global Settings >> -----*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Reset some default styles for consistency across browsers */
body,
h1,
h2,
p,
ul,
li,
button {
    margin: 0;
    padding: 0;
    font-family: var(--ff);
}

/* Apply a box-sizing border-box model to all elements */
* {
    box-sizing: border-box;
}

/* Global styles for the entire page */
body {
    background: url(../images/main.webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--primary-clr);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Center the header */
header {
    color: var(--primary-clr);
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 10px;
}

.app_name {
    font-size: 50px;
}

.app__slogan {
    font-size: 20px;
}

/* Main menu styles */
.mainpage_menus {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button {
    background-color: var(--secondary-clr);
    color: var(--primary-clr);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: 800;
}

.hidden {
    display: none;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--secondary-clr-light);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 70%;
}

/* Footer styles */
.main_footer {
    color: var(--secondary-clr-light);
    text-align: center;
    padding: 20px;
}

.main_footer ul {
    color: var(--secondary-clr-light);
    margin: 10px;
    font-size: 24px;
    text-decoration: none;
}

.main_footer ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.main_footer img {
    width: 25px;
    height: 25px;
}

.main_footer img:hover {
    transform: scale(1.5);
}

/* Specific styles for alphabet.html */
.return-button img {
    width: 25px;
    height: 25px;
}

.title {
    text-align: center;
    flex-grow: 1;
}

.alphabet_card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 300px;
    height: 400px;
    cursor: pointer;
    position: relative;
    margin-bottom: 50px;
}

.card h2 {
    font-size: 80px;
    color: var(--primary-clr);
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
}

.card p {
    font-size: 30px;
    margin-top: 10px;
}

.speak_btn img {
    width: 15px;
    height: 20px;
    padding-top: 9px;
}

/* CSS styles for the front and back side of the card */
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-clr-light);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s;
}

/* CSS styles for the back side of the card */
.card-back {
    transform: rotateY(180deg);
    flex-direction: column;
}

.card:hover .card-front {
    transform: rotateY(180deg);
}

/* CSS styles for the card when hovered to flip back to the front side */
.card:hover .card-back {
    transform: rotateY(0deg);
}

/* Specific styles for game.html */


.game_container {
    width: 90%;
    max-width: 37.5em;
    background-color: rgba(245, 241, 243, 0.4);
    padding: 1em 0.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.8em;
}

/* Styling for the heading */
.game_title {
    text-align: center;
    width: 80%;
    margin: 0 auto 2em auto;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 1.8em;
    color: var(--primary-clr);
}

/* Styling for the container that holds draggable alphabet images and drop points */
.draggable-objects,
.drop-points {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    gap: 15px;
}

/* Styling for each draggable alphabet images */
.draggable-image {
    cursor: move;
}

/* Styling for the image*/
img {
    width: 8em;
    filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25));
}

/* Styling for words */
.words {
    width: 10em;
    height: 9em;
    display: grid;
    place-items: center;
    border: 0.25em dashed var(--primary-clr);
    border-radius: 0.8em;
    font-weight: bold;
}

.dropped {
    padding: 0;
    background-color: #93f028;
}

.play-again-container {
    display: flex;
    justify-content: space-evenly;
}

/*Hide drag image and play again button*/
.hide {
    display: none;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .mainpage_menus {
        margin-top: 50%;
    }

    /* Media for main page */
    .modal-content h2 {
        font-size: 8px;
    }

    .modal-content p {
        font-size: 7px;
    }

    .modal-content .ruleclose {
        padding: 2px 2px;
        font-size: 8px;
    }

    .app_name {
        font-size: 35px;
    }

    .app__slogan {
        font-size: 15px;
    }

    /* Media for game page */
    .game_title {
        width: 80%;
        font-size: 0.8em;
    }

    .words {
        width: 5em;
        height: 5em;
    }

    img {
        width: 4em;
    }
}

/* ... (responsive styles for devices with max width 600px) */
@media screen and (max-width: 480px) {
    .mainpage_menus {
        margin-top: 30%;
    }

    /* Media for alphabets page */
    .alphabet_card {
        margin-top: 10%;
        margin-left: 10%;
    }

    .card {
        width: 260px;
        height: 360px;
    }

    .card-front,
    .card-back {
        width: 90%;
        height: 90%;
    }

    .card h2 {
        font-size: 60px;
    }

    .card img {
        width: 180px;
        height: 180px;
    }

    card p {
        font-size: 25px;
    }

    .speak_btn {
        padding: 5px 5px;
        font-size: 12px;
    }


}