/*------ Global Settings------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* CSS styles for the body element */
body {
    background: url(../images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Comic Sans MS, sans-serif;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1B366A;
    padding: 10px;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.app_name {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.app__slogan {
    font-size: 25px;
    font-style: italic;
}

.app_name,
.app__slogan {
    margin: 0;
}

.hidden {
    display: none;
}

button {
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #e8e818;
    color: #1B366A;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 70%;
}

.mainpage_menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* CSS for the social networks in the footer */
.main_footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.main_footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main_footer li {
    margin: 0 10px;
}

.social-links {
    font-size: 30px;
    color: #1B366A;
}

.main_footer li:hover {
    transform: scale(1.5);
}

/* --- << Alphabets page >> --- */

.card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    margin-bottom: 50px;
}

.card h2 {
    font-size: 80px;
    color: #1B366A;
    font-weight: bold;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;

}

.card p {
    font-size: 30px;
    margin-top: 10px;
    color: #1B366A;
    font-weight: bold;
}

/* CSS styles for the front and back side of the card */
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* Set the background color for the card sides */
    border: 1px solid #ccc;
    /* Add a border around the card sides */
    border-radius: 10px;
    /* Add rounded corners to the card */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow to the card */
    transition: transform 0.6s;
    /* Add a smooth transition effect when flipping the card */
}

/* CSS styles for the back side of the card */
.card-back {
    transform: rotateY(180deg);
    /* Initially hide the back side of the card by rotating it */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CSS styles for the "Next" button */
#nextButton {
    margin-top: 10px;
    display: inline-block;
    /* Initially hide the "Next" button */
    order: 3;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    order: 2;
}

#nextButton:hover {
    background-color: #e8e818;
    /* Change the background color on hover */
    color: #1B366A;
    /* Change the text color on hover */
}

/* CSS styles for the card when hovered to flip to the back side */
.card:hover .card-front {
    transform: rotateY(180deg);
}

/* CSS styles for the card when hovered to flip back to the front side */
.card:hover .card-back {
    transform: rotateY(0deg);
}

.return-button {
    color: #1B366A;
    text-decoration: none;
    font-size: 25px;
    margin-left: 30px;
}

.return-button i {
    margin-right: 5px;
}

.return-button i:hover {
    transform: scale(1.5);
}

/* --- << Game page >> --- */
.quiz_container {
    width: 90%;
    max-width: 37.5em;
    background-color: rgba(245, 241, 243, 0.4);
    padding: 3em 0.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.8em;
}

/* Styling for the heading */
h2 {
    text-align: center;
    width: 60%;
    margin: 0 auto 2em auto;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.03em;
    line-height: 1.8em;
    color: #1B366A;
}

/* Styling for the container that holds draggable alphabet images and drop points */
.draggable-objects,
.drop-points {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    gap: 15px;
}