/*------ Global Settings------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* CSS styles for the body element */
body {
    background: url(../images/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Comic Sans MS, sans-serif;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1B366A;
    padding: 10px;
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.app_name {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.app__slogan {
    font-size: 25px;
    font-style: italic;
}

.app_name,
.app__slogan {
    margin: 0;
}

.hidden {
    display: none;
}

button {
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #e8e818;
    color: #1B366A;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 70%;
}

.mainpage_menus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* CSS for the social networks in the footer */
.main_footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.main_footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main_footer li {
    margin: 0 10px;
}

.social-links {
    font-size: 30px;
    color: #1B366A;
}

.main_footer li:hover {
    transform: scale(1.5);
}